<h1>配送先登録/一覧</h1>
<%= form_with model: @address, url: public_addresses_path do %>
  <!--%= f.hidden_field :customer_id, value: @customer.id %-->
  <div class="field">
    <%= f.label "宛名" %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>編集</td>
        <td>削除</td>
      </tr>
    <% end %>
  </tbody>
</table>