<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><span>Test Site</span></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to "About", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "商品一覧", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "カート", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "商品一覧", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", genres_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        <% else %>
          <li>
            <%= link_to "About", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "商品一覧", homes_about_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "新規登録",  new_customer_registration_path, class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-light' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
